@import "tailwindcss";

/* #4b0505   dark red*/
/* #e30613 light red */
/* #ffffff white */
/* #333 black shade */

/* #0b1f34 dark blue */


:root {
  --dark-red: #4b0505;
  --light-red: #e30613;
  --white: #ffffff;
  --shade-black: #333333;
  --dark-blue: #0b1f34;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom Animations */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}

@keyframes pulse-red {

  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(220, 38, 38, 0.7);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 20px 0 rgba(220, 38, 38, 1);
    transform: scale(1.05);
  }
}

.animate-pulse-intense {
  animation: pulse-red 1.5s infinite;
}

.neon-text {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.8), 0 0 10px rgba(255, 0, 0, 0.6), 0 0 15px rgba(255, 0, 0, 0.4);
}